// => Externals
// ------------------------------------------------------------------------------
@import "partials/cmb2/cmb2.scss";

// // => Admin Page Framework
// ------------------------------------------------------------------------------
.admin-page-framework-field {
    display: block;
    float: none;
}

.media-sidebar .gallery-settings {
    display: none;
}
